@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto+Condensed&display=swap');
:root{
  --primary-dark:rgba(255,255,255, 0);
}

body{
  font-family:"Montserrat" sans-serif ;
}

/************************************NAVBAR****************/
nav{
  z-index: 2;
}

.logo{
  width:5.375rem;
  height: 4rem;
}

/*******************************MENU LINKS********/

nav a.nav-link{

  font-weight: 500;
  letter-spacing: 0.0586rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-top:0.1875rem solid var(--primary-dark)
}

.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid black;
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid black;
}
/*******************************HEADER**********************/

.head_wrapper {
  position: relative;
  background: url(header_background.jpg) no-repeat;
  background-size:cover; 
  background-position: center;
  height:100vh;
  padding: 7.5rem 0rem;
 
}

.info {
  display:flex;
  position:absolute;
  flex-direction: column;
  justify-content: center;
  font-family: Mon;
  left: 30%; 
  bottom: 50%;
  font-family: "Montserrat" sans-serif;
  font-size: 3.375rem;
  font-weight: 800;
  
}

.info h1,h2{
  color:red;
  font-weight: 700;

}

/**********TYPED*********************/

.typed-content{
  font-size: 2rem;
  color: aliceblue;

}

/************************ABOUT********/
.photo-wrap {
  display:flex;
  justify-content:center;
  align-items:center;
}
.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border:1px solid red
}

.about-heading{
  color: red;
  font-weight: 600;
}




/**************PROJECTS*****/

.h1_color{
  color: red;
  font-weight: 600;
}

.card-title{
  color:red;
  font-weight: 850;
}
.card-img-top{
  border-radius: 1rem;
  transition: 5s;
}


/*********************FOOTER**************************/

.footer_img{
  width:5.375rem;
  height: 4rem;
  
}
.copyright{
  font-size: 1rem;
  font-weight: 200;
  color: black;

}